include:
  - component: "gitlab.gnome.org/GNOME/citemplates/release-service@master"
    inputs:
      dist-job-name: "build-fedora"

build-fedora:
  stage: "build"
  image: fedora:latest
  variables:
      # On the next API break, also drop the soup2 from meson_options.txt
      # It's only kept for compatibility with the check-abi script that
      # builds the older version still
      LAST_ABI_BREAK: 4fff073bfde0de7d05fd08016da56ceec8d59ea7
      DEPS:
        glibc-langpack-fr
        glibc-langpack-cs
        glibc-langpack-en
        glibc-langpack-sv
        glib2-devel
        json-glib-devel
        gtk-doc
        meson
        git
        gcc
        gcc-c++
        glibc-devel
        libabigail
        gnome-desktop-testing
        libnghttp2-devel
        sqlite-devel
        libpsl-devel
        libsoup3-devel
  before_script:
    # Undo delangification present in the Fedora Docker images
    - .ci/undo-delangification.sh $DEPS
    - curl https://gitlab.freedesktop.org/hadess/check-abi/-/raw/main/contrib/check-abi-fedora.sh | bash
    - check-abi --parameters="-Dsoup2=false" ${LAST_ABI_BREAK} $(git rev-parse HEAD)
  script:
    - meson _build -Dprefix=/usr
    - ninja -C _build install
    - ninja -C _build test
    - ninja -C _build dist
    - cp -r "_build/meson-dist/" "${CI_PROJECT_DIR}/public-dist/"
    - gnome-desktop-testing-runner geocode-glib
  artifacts:
    name: "geocode-glib-${CI_JOB_NAME}-${CI_COMMIT_REF_NAME}"
    when: always
    paths:
      - "**/meson-logs/*"
      - "public-dist"
